<div class="container" style="display: flex;justify-content: center;align-items: center;height: 100vh;">
  <div class="card" style="width: 90%;">
    <div class="card-header">
      <img class="d-block float-left" src="https://getbootstrap.com/docs/4.4/assets/brand/bootstrap-solid.svg" alt=""
        width="36" height="36">
      <img class="d-block float-right"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgI8oQ_NsyS2rp2A4M7_az4GssvNZjm7eahjhWaKaYXA_fd8fZ&s"
        alt="" width="36" height="36">
    </div>
    <div class="card-body">
      <h5 class="card-title">Dashboard <button type="button" class="float-right btn btn-outline-danger btn-sm"
          (click)="logout()">Logout</button></h5>
      <h6 class="mb-4"> Home/Dashboard</h6>
      <h6>Users</h6>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Rate</th>
            <th scope="col">Sales</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataFromServer; let i = index">
            <td>{{item.Name}}</td>
            <td>{{item.Date}}</td>
            <td>{{item.Rate}}</td>
            <td>{{item.Sales}}</td>
            <td><button class='btn btn-outline-info btn-sm' (click)="deleteRow(i)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>